.catalog-item-container {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid var(--grey-color);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
}

.catalog-item-container--on-sale {
  overflow: hidden;
}

.catalog-item-container--on-sale::before {
  position: absolute;
  transform: perspective(10px) rotate(45deg);
  content: 'ON SALE';
  right: -30px;
  top: 10px;
  width: 80px;
  height: 10px;
  background: var(--green-color);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 5px; 
}

.catalog-item-container--selected {
  border-color: var(--blue-light-color);
  color: var(--blue-light-color);
}

.catalog-item-container--selected::before {
  background: var(--blue-light-color);
}

.catalog-item-container--selected::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  content: '✔';
  font-size: 30px;
  bottom: 10px;
  left: 5px;
}

.catalog-item-container__title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.catalog-item-container__thumbnail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.catalog-item-container__thumbnail img {
  height: 100px;
  margin-bottom: 10px;
}

.catalog-item-container__price {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.catalog-item-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
