.hamburger {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
  height: 25px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger-bar {
  height: 4px;
  width: 100%;
  background: var(--main-light-color);
  transform-origin: 8px 8px;
  transition: transform 0.5s, opacity 0.55s ease, background 0.5s ease;
  border-radius: 4px;
}

.hamburger--open .hamburger-bar {
  background: var(--main-dark-color);
}

.hamburger--open .hamburger-bar-1 {
  transform: rotate(45deg) translate(-1px, 3px);
}

.hamburger--open .hamburger-bar-3 {
  transform: rotate(-45deg) translate(7px, 0px);
}

.hamburger--open .hamburger-bar-2 {
  opacity: 0;
}
