.input-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-label {
  margin-bottom: 5px;
  color: var(--main-dark-color);
}

.input {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  outline: none;
  padding: 5px;
}
