.navigation-container {
  top: 0;
  padding: 60px;
  position: fixed;
  background-color: var(--main-color);
  height: calc(100vh - 120px);
  transform: translateX(-100%);
  transition: transform 1s;
}

.navigation-container--open {
  transform: translateX(0);
}

.navigation-link {
  color: var(--main-dark-color);
}
